@import './index.scss';

.App-logo {
  animation: App-logo-spin infinite 5ms ease-in;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: $primary-background;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primary-color;
  h1{
    font-weight: 100;
    font-size: 5rem;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg{
    margin-right: 0.5rem;
  }
}

.App-content{
  padding: 2rem 0;
  .input-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem 0;
    input {
      padding: 0.5rem 33px 0.5rem 0.5rem;
      font-size: 16px;
      width: 40vw;
      border: 1px solid $green;
      &:focus {
        outline : 2px solid $green;
        outline-offset: unset;
      }
    }
    button {
      padding: 0.5rem;
      color: $white;
      font-size: 16px;
      background-color: $green;
      border: 1px solid $green;
      cursor: pointer;
      position: absolute;
      x-index: 9000;
      transform: translateX(-33px);
      &:hover{
        background-color: darken($green, 10%);
        border: 2px solid darken($green, 10%);
        transition: all 0.25s ease-in;
      }
    }
  }
  .list-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

